
<div class="animate__animated animated__fadeIn animate__faster">
  <app-barra-cierre></app-barra-cierre>
  <div class="container">
    <br>
    <div class="card_v" *ngFor="let libro of misLibros" (click)="setSelection(libro)">
      <app-libro-card [libro]="libro"></app-libro-card>
    </div>
    <div class="position_btn_nuevo">
      <app-nuevo-boton [label]="'Nuevo libro'" [routerLink]="['/main/nuevo-libro']"></app-nuevo-boton>
    </div>
    <div class="position_btn_modificar">
      <app-modificar-boton [label]="'Modificar libro'" [routerLink]="['/main/modificar-libro']" [mostrarSi]="Libro.selectedOnce"></app-modificar-boton>
    </div>
    <div class="position_btn_eliminar">
      <app-eliminar-boton [label]="'Eliminar libro'" (click)="eliminarLibro()" [mostrarSi]="Libro.selectedOnce"></app-eliminar-boton>
    </div>
  </div>
</div>

