<div class="animate__animated animated__fadeIn animate__faster" xmlns="http://www.w3.org/1999/html">
  <app-barra-cierre></app-barra-cierre>
  <div class="container">
    <div class="cards_container">
      <table>
        <thead>
        <tr>
          <th>ISBN</th>
          <th>Nombre</th>
          <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let elemento of CarritoItem.getIterable()">
          <td>{{ elemento.ISBN }}</td>
          <td>{{ elemento.Nombre }}</td>
          <td>{{ elemento.cantidad }}</td>
        </tr>
        </tbody>
      </table>
      <table>
        <thead>
        <tr>
          <td>Total: {{ calcularTotal() }}€</td>
        </tr>
        </thead>
      </table>
      <!--      <app-reusecard *ngFor="let elemento of CarritoItem.getIterable()" [iterable]="elemento"-->
      <!--                     [width]="'36vb'"></app-reusecard>-->
    </div>
    <button
      style="margin-left: 45%;
  margin-top:20px;"
      [disabled]="CarritoItem.getIterable().length<1"
      pButton
      (click)="pagar()"
      class="p-button-success"
      label="Procesar pago"></button>
  </div>
</div>
